# This is a basic workflow to help you get started with Actions
name: Readme Update

# Controls when the workflow will run
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"
permissions:
  contents: write
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm ci
      - name: Update README
        run: npm start
      - name: Commit README
        run: |
          git add .
          git config --local user.email "✅ 본인_깃허브_이메일" 
          git config --local user.name "✅ 본인_깃허브_아이디(이름)" 
          git commit -m "Update README.md"
          git push
